@page "/references/order-status"
@inject HttpApiClient.WarehouseApiClient WarehouseApiClient;

<h1>Статусы заказов</h1>

@if (Types == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>Идентификатор</th>
                <th>Наименование</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Type in Types)
            {
                <tr>
                    <td>@Type.Id</td>
                    <td>@Type.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    protected IReadOnlyList<OrderStatuses> Types;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Types = await WarehouseApiClient.GetOrderStatusesAsync();
    }
}

